# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

dist
*.local
dist-ssr
.partykit
node_modules

# Editor directories and files
*.suo
*.sln
*.sw?
.idea
*.ntvs*
*.njsproj
.DS_Store
.vscode/*
!.vscode/extensions.json

# Env
.env
